html {
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  color: white;
}

pre.bash {
  color: greenyellow;
  display: inline-block;
}

pre.cmd {
  color: greenyellow;
  font-size: large; 
  display: inline-block;
}

@media (max-width: 1000px) {
  pre.bash {
    font-size: 4px;
  }
}

a {
  color: yellow;
  text-decoration: none;
}

.datos-personales {
  padding: 20px;
}

.links {
  padding: 30px;
}

footer {
  font-size: 13px;
}
